*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
  }
  .gang {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #0e0e0e;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .gang{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
     background: linear-gradient(375deg, #1cc7d0, #2ede98); 
    background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); 
    background: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .gang ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .gang ul li{
    margin: 15px 0;
  }
  .gang ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #0e0e0e;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .gang ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .gang ul li a:hover:after{
    transform: scaleY(1);
  }
  .gang ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  body {
    background-color:rgb(82, 27, 27);
    overflow-x: hidden;
    max-width: 1920px;
    height: 100%;
  }
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title h1 {
    position: absolute;
    top: 5%;
    left: 41%;
  }
  
  .block1 {
    position: absolute;
    width: 870px;
    height: 100%;
    background-color: #161515;
    z-index: -1;

  }
  .block2 {
    position: absolute;
    width: 300px;
   height: 100%;
    background-color: #0e0e0e;
  z-index: -1;
    right: 0;

  }
 
  .block1 a {

    position: relative;
    top: 40px;
    left: 56%;
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  .block1 img {
    position: absolute;
    top: 20px;
    left: 10%;
    width: auto;
    
  }


  .block1 h1 {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 90px;
    color: #efddfb;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }
  .block1 p{
    position: absolute;
    top: 50%;
    left: 30%;
    color: #efddfb;
  }
  .block2 img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 15%;
    right: 15px;
  }
  .block2 .linkedin {
    position: absolute;
    height: 100px;
    width: 100px;
    top:40%;
    right: 8px;
  }
  .block2 .mail {
    position: absolute;
    height: 100px;
    width: 100px;
    top:65%;
    right: 8px;
  }
  .about h1{
    position: absolute;
    top: 800px;
    right: 38%;
    font-size: 50px;

  }

  .about p {
    position: absolute;
    top: 900px;
   
  }

  .cv h1 {
    position: absolute;
    top: 1500px;
    right: 45%; 
  }
  .cv img {
  position: absolute;
  width: 30%;
  left: 37%;
  
  top: 1550px;
 
  }
  button  a {
    position: absolute;
    text-decoration: none;
    border-radius: 10px;
   background-color:rgb(82, 27, 27);;
    color: rgb(0, 0, 0); 
    top: 1500px;
    left: 60%;
    font-size: 20px;
 
  }


  .comp h1 {
    position: absolute;
    top: 1000px;
    left: 37%;

  }

  
  .comp .html {
    position: absolute;
    width: 200px;
    top: 1050px;
    left: 40%;
  }
  .comp .css {
    position: absolute;
    width: 200px;
    top: 1100px;
    left: 40%;
  }
  .comp .php {
    position: absolute;
    width: 170px;
    top: 1150px;
    left: 40%;
  }
  .comp .js {
    position: absolute;
    width: 160px;
    top: 1200px;
    left: 40%;
  }
  .comp .git {
    position: absolute;
    width: 150px;
    top: 1250px;
    left: 40%;
  }
  .comp .python {
    position: absolute;
    width: 100px;
    top: 1300px;
    left: 40%;
  }
  .comp .gant {
    position: absolute;
    width: 200px;
    top: 1350px;
    left: 40%;
    
  }
  .comp .mysql {
    position: absolute;
    width: 170px;
    top: 1400px;
    left: 40%;
  }